.unique-post-container {
}

.unique-post-container header {
  width: 100%;
  display: flex;
  align-items: center;

  margin-bottom: 2rem;
}

.unique-post-container header img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.unique-post-container header div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.post-avatar {
  width: 3.5rem;
  height: 3.5rem;

  border-radius: 50%;

  margin-right: 2rem;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;

  color: var(--gray-300);

  margin-left: auto;
}

.icon-button.focus:hover {
  opacity: 0.6;
  outline: 0;
  box-shadow: 0 0 0 2px var(--green-500);

  transition: all 0.2s;
}

.unique-post-container footer {
  margin-top: 2rem;
}

.unique-post-container footer .createdAt {
  color: var(--gray-300);
  font-size: 0.875rem;
}

.unique-post-container footer .actions {
  border-top: 1px solid var(--green-500);
  border-bottom: 1px solid var(--green-500);
  padding-top: 1rem;

  display: flex;
  font-size: 0.875rem;

  margin: 1rem 0;
  padding-bottom: 1rem;
  gap: 1rem;
}

.unique-post-container footer .actions a:hover {
  text-decoration: underline;
  opacity: 0.6;
  cursor: pointer;
}

.divider {
  margin: 1rem 0;
}

.button-like:hover,
.button-like.liked {
  color: var(--red-300);

  transition: color 0.2s;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;

  color: var(--gray-300);
}

.icon-button.focus:hover {
  opacity: 0.6;
  outline: 0;
  box-shadow: 0 0 0 2px var(--green-500);

  transition: all 0.2s;
}

.comment {
  margin-top: 1.5rem;

  padding-bottom: 1rem;

  border-bottom: 1px solid var(--green-500);
}

.comments-container {
  display: grid;
  gap: 2rem;

  margin-top: 1rem;
}

#comments-content {
  display: grid;
  gap: 1rem;

  border-bottom: 1px solid var(--green-500);
  padding-bottom: 1rem;
}

#comments-content header {
  width: 100%;
  display: flex;
  align-items: start;

  gap: 1rem;

  margin-bottom: 0.5rem;
}

#comments-content header img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

#comments-content header div {
  display: flex;
  gap: 0.5rem;
}

.createdAt-container {
  display: flex;
  gap: 0.5rem;
  flex-direction: row !important;
}

.comment-p {
  margin-left: calc(48px + 1rem);
}
